.flex-container{
  display: flex;
  justify-content: center;
}

.middle-div{
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.middle-div ul{
  padding: 0;
}
.middle-div ul li{
display: inline-block;
margin: 3px 5px;
font-size: 20px;
}


